<% provide(:title, 'About Us') %>
<h1 class="text-left">About Flycode</h1>
<p style="line-height:1.2em;">
  Flycode is a product of Walter Koning. It started out with a simple question, 
  could it be easier to find information about an organization? This begs the question,
  isn't there already a website for that?
</p>
<p style="line-height:1.2em;">
	And there is. There are plenty of websites.
</p>
<p style="line-height:1.2em;">
  Flycode is a directory listing of profiles for organizations, people, bands, tv shows... anything!
  My goal is to take the concept of "Find us on social media" and make it easier to find related information.
</p>
<p style="line-height:1.2em;">
	Could I write a better "About" page? Yeah, probably. Want to help? Send me a message.
</p>
