<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  NGO360 is a product of Walter Koning. It started out with a simple question. 
  Can we make it easier to find information about an organization? This begs the question,
  "Isn't there a website for that?". And there is.  There are plenty of websites.
  NGO360 is a directory listing of profiles for organizations, people, anything.
  Our goal is to take the concept of "Find us on ..." and make it readily available
  within in a profile-based interface.
</p>