<% provide(:title, 'Contact') %>
<h1 class="text-left">Contact</h1>
<p style="line-height:1.2em;">
  <a href="http://fivesomnimedia.com/resume/ProjectPortfolio.pdf">Contact Walter</a>
</p>
<p style="line-height:1.2em;">
  <a href="http://osuniverse.homestead.com/ET/1/ET_the_Extra-Terrestrial_1.jpg">Contact ET</a>
</p>

