<% provide(:title, 'Help') %>
<h1 class="text-left">Help</h1>
<p style="line-height:1.2em;">
  Step 1: Create an account
</p>
<p style="line-height:1.2em;">
  Step 2: Create a profile for a collection of social media links.
</p>
<p style="line-height:1.2em;">
  Step 3: Create additional profiles for anything you like.
</p>
<hr>
<h2 class="text-left">Examples</h1>
<p style="line-height:1.2em;">
  Profiles for people
	<ul>
		<li>
		</li>
	</ul>
  Profiles for bands
	<ul>
		<li>
		</li>
	</ul>
  Profiles for tv shows
	<ul>
		<li>
		</li>
	</ul>
  Profiles for businesses
	<ul>
		<li>
		</li>
	</ul>
</p>
