  <div class="center hero-unit">
    <h1>Welcome to Flycode</h1>

    <!-- <h2>
      Search for profiles
    </h2> -->
    <%= render 'shared/search_org_form' %>

<% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
<% end %>

  </div>
