<h1 class="text-left">Edit Profile</h1>
<div class="row">
  <div class="col-xs-12 col-sm-12">
	<%= form_for(@profile) do |f| %>
	  <%= render 'shared/error_messages', :object => f.object %>
	  <div class="actions">
	    <%= f.submit "Update", class: 'btn btn-large btn-primary' %>
	  </div>
	  <%= render 'fields', :f => f %>
	<% end %>
  </div>
</div>
