<h1 class="text-left">Edit Profile</h1>
<p>A profile is a collection of related social media links.</p>
<div class="row">
  <div class="span6">
	<%= form_for(@profile) do |f| %>
	  <%= render 'shared/error_messages', :object => f.object %>
	  <%= render 'fields', :f => f %>
	  <div class="actions">
	    <%= f.submit "Update", class: 'btn btn-large btn-primary offset4' %>
	  </div>
	<% end %>
  </div>
</div>
