<h1 class="text-left">Create a Profile</h1>

  <div class="col-xs-12">
	<%= form_for(@profile) do |f| %>
	  <%= render 'shared/error_messages', :object => f.object %>
	  <div class="actions">
	    <%= f.submit "Submit", class: 'btn btn-large btn-primary center' %>
	  </div>
	  <%= render 'fields', :f => f %>
	<% end %>
 </div>
