<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2 class="text-left">An Account</h2>
            <p style="line-height:1.2em;">With an account you will be able to create profiles.</p>
						<% if !signed_in? %>
							<div class="center">	
						    <%= link_to "Create an account now!", signup_path,
						                                class: "btn btn-large btn-primary" %>
							</div>
						<% end %>
        </div>
        <div class="col-xs-4">
            <h2 class="text-left">A Profile</h2>
            <p style="line-height:1.2em;">A profile is a collection of related social media links.</p>
            <p style="line-height:1.2em;">Name your profile however you like. Then add a link for Facebook, Twitter, Instagram and LinkedIn</p>
        </div>
        <div class="col-xs-4">
            <h2 class="text-left">One account, Many Profiles</h2>
            <p style="line-height:1.2em;">With one account a user may create as many profiles as they like.</p>
            <p style="line-height:1.2em;">My account has a profile for me, and many profiles for the places I have worked. Your account could have many profiles for the tv shows you watch, or the bands you listen to.</p>
        </div>
    </div>
</div>