<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2 class="text-left">Create an Account</h2>
            <p style="line-height:1.2em;">Start by creating an account.</p>
						<% if !signed_in? %>
							<p>	
						    <%= link_to "Create an account now!", signup_path,
						                                class: "btn btn-large btn-primary" %>
							</p>
						<% end %>
        </div>
        <div class="col-xs-4">
            <h2 class="text-left">Add Profiles</h2>
            <p style="line-height:1.2em;">In your account you can create profiles. A profile can be as simple as a word. You can also add tags, a url, and social media links.</p>
        </div>
        <div class="col-xs-4">
            <h2 class="text-left">Search for Users and Profiles</h2>
            <p style="line-height:1.2em;">With Flycode you can search for accounts, hashtags, or accounts and hashtags.</p>
        </div>
    </div>
</div>