<div class="row">
	<%= form_tag("/search_profile", method: "get") do %>
	<div class="col-xs-4 col-sm-4">
	  <%= text_field_tag(:name, @name, placeholder: '@username or #tag') %>
	</div>
	<div class="col-xs-4 col-sm-4">
	  <%= submit_tag("Search", class: 'btn btn-large btn-primary') %>
	</div>
	<% end %>
	<div class="col-xs-4 col-sm-4">
	  <%= link_to "or create a new profile", create_profile_path, :class => "btn signup_button round"  %>
	</div>
</div>

