<style>
.search_field{margin-top:10px;}
</style>

	<%= form_tag("/search_profile", method: "get") do %>
	<div class="row">
	  <%= submit_tag("Search", class: 'btn btn-large btn-primary') %>
	  <%= text_field_tag(:name, @name, placeholder: 'Search Flycode by @username and tag', class: 'search_field') %>
	</div>
	<% end %>
	<%#= link_to "Create a new profile", create_profile_path, :class => "editlink btn btn-large btn-primary"  %>

