<%= render 'shared/search_org_form' %>

<div class="row">
<% if @organizations.any? %>
 <div class="span8">
        <ol class="organizations">
        	<% @organizations.each do | organization |  %>
			<%= render :partial => 'shared/organization_profile', :locals => { :organization => organization } %>
			<% end %>

          <%#= render @organizations %>
        </ol>
  </div>
  <%= will_paginate @organizations %>
<% else %>
<h4>No results matching that query</h4>
<% end %>
</div>

