<%= render 'shared/search_org_form' %>

<div class="row">
<% if @organizations.any? %>
	<div class="">
        <ol class="organizations">
        	<% @organizations.each do | organization |  %>
			<%= render :partial => 'shared/organization_profile', :locals => { :organization => organization } %>
			<% end %>

          <%#= render @organizations %>
        </ol>
	</div>
	<div class="">
	  <%= will_paginate @organizations %>
	</div>
<% else %>
	<div class="span10">
		<h4>No results matching that query.</h4>
		<p>Tip: Leave the search field blank to search for all profiles</p>
	</div>
<% end %>
</div>

